<!-- _includes/projects-comma.html -->
<!-- <div class="grid-item-people col-6 col-sm-6 col-md-4"> -->
<!-- <div class="grid-item-people col-6 col-md-3"> -->
<div class="grid-item-people col-4">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        <div class="card-img-bg" style="background-image: url('{{ project.img | relative_url }}');"></div>
        <div class="card-overlay">
        <!-- <div class="card-body"> -->
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
        </div>
        </div>
    </a>
</div>
